@import url('https://fonts.googleapis.com/css2?family=Anta&family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


body, html {
    --bg-color:#35374B;
    --highlight-color:#78a0833b;
    --primary-color:#344955;
    --secondary-color:#50727B;
    --light-text:#00FF00;
    --white:#f4f4f4;
    --black:#000000;
    --anta-font:"Anta", sans-serif;
    --share-tech-font:"Share Tech Mono", monospace;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--share-tech-font);
    background-color: var(--bg-color);
}

#follower {
    position: absolute;
    box-shadow:200px 200px 200px 200px var(--highlight-color);
    background-color: transparent;
    pointer-events: none;
    transition: width 0.2s, height 0.2s, border-width 0.2s;
}

